# フォントはサイトで使っているものだけリポジトリに入れる
*.otf
*.ttf
*.woff
*.woff2
!en/NeueHaasGrotDispRound/NeueHaasGrotDispRound-55Roman-Trial.otf
!en/NeueHaasGrotDispRound/NeueHaasGrotDispRound-45Light-Trial.otf
!en/NeueHaasGrotDisp/NeueHaasGrotDisp-55Roman-Trial.otf
!ja/AxisStd/AxisStd-Light.otf
